<%- include('header'); -%>
  <p></p>
  <h2>New Sightings Form: </h2>
  </div>
</div>
<p></p>
<div class="container ">
  <div class="row justify-content-center">
    <div class="card " style="width: 90vw;">
      <ul class="list-group list-group-flush">
        <p></p>
      <!--  <h3 class = "text-center">Sightings List</h3> -->
        <li class="list-group-item ">
          <div class="row justify-content-center">
            <div class="row px-0 ">
              <div class ="col-12 px-0">
                <form action="/sighting" method="POST">
                  <div>
                    <label for="summary" class="mb-2"><b>Summary:</b></label><br>  
                    <textarea name ="summary" id="summary" class="smBox mb-2"></textarea>   
                  </div>
                  <div>
                    <label for="datetime" class="mb-3"><b>Date_(space)_Time:</b></label>  
                    <input type="textarea" name="datetime" id="datetime" class="dateTime">
                  </div>
                  <div>
                    <label for="city" class="mb-3"><b>City:</b></label>  
                    <input type="text" name="city" id="city">
                  </div>
                  <div>
                    <label for="state" class="mb-3" ><b>State:</b></label>  
                    <input type="text" name="state" id="state">
                  </div>
                  <div>
                    <label for="shape" class="mb-3"><b>Shape:</b></label>  
                    <input type="text" name="shape" id="shape">   
                  </div>
                  <div>
                    <label for="duration" class="mb-3"><b>Duration(mins):</b></label>  
                    <input type="text" name="duration" id="duration">   
                  </div>        
                  <div>
                    <label for="text" class="mb-1"><b>Report:</b></label><br>   
                    <textarea name ="text" id="text" class="txtBox mb-3"></textarea>   
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-auto"><input type="submit" value="Submit"></div>
                  </div> 
                </form>
              </div> 
            </div>     
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<%- include('footer'); -%>