/* body{
  background-color: aquamarine;
}

.titleX{
  color:red ;
} */

.topSpacer {
  color:white;
}

.dateTime {
  height: 2rem;
  width: 10rem;
}

.txtBox{
  min-width: 82vw;
  max-width: 82vw;
  min-height: 25vh;
  max-height: 33vh;
}

.smBox{
  min-width: 82vw;
  max-width: 82vw;
  min-height: 7vh;
  max-height: 10vh;
}

.shpeTxt{
  text-transform: uppercase;
  font-weight: 700;
}

.timeStmpTxt{
  font-family:sans-serif;
  font-size: small;
}